main{
  width: 80%;
  margin-left: auto;
  border: 3px solid black;
  min-height: 100vh;
  padding: 0 20px;
}

// fuad_experience section start
.fuad_experience{
  display: flex;
  flex-direction: column;
  padding-top: 4em ;
  padding-bottom: 9em;
  *{
    line-height: 1.8;
  }
  .text_box{
    padding: 0 15px;
    span{
      margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
    }
    h2{
      font-size: 18px;
    margin-bottom: 4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    }
  }
  .article_container{
    padding: 0 2.5em;
    display: flex;
    position: relative;
    .line_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon_div{
      padding: 10px;
      background: #2c98f0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
        border: 6px solid #f2f3f7;
      }
      .icon_div.red{
        background-color: #ec5453;
      }
      .icon_div.green{
        background-color: #2fa499;
      }
      .icon_div.purple{
        background-color: #a84cb8;
      }
      .icon_div.yellow{
        background-color: #f9bf3f;
      }
      .line{
        width: 5px;
        height: 100%;
        background-color: #f2f3f7;
      }
    }
    .line_container.last{
      width: 48px;
      .line{
        display: none;
      }
    }
    .icon_div.last{
      background-color: transparent;
    }
    article{
      .container{
        h2{
          margin-bottom: 30px;
          font-size: 20px;
          font-family: "Quicksand", Arial, sans-serif;
          font-weight: 500;
          a{
            color: black;
          }
          span{
            font-weight: 500;
            opacity: .4;
          }
        }
        p{
          margin-bottom: calc(1.5rem + 10px);
          color: rgba(0, 0, 0, 0.7);
        }
      }
      position: relative;
      background: #f2f3f7;
      padding: 1.5em;
      margin-left: 20px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    article:after{
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 9px 9px 0;
      border-color: transparent #f2f3f7 transparent transparent;
      left: 0;
      top: 10px;
      margin-left: -9px;
    }
  }
}
@media screen and (max-width:760px) {
  .fuad_experience .article_container{
    padding: 0;
  }
  .fuad_experience h2{
    font-size: 16px !important;
  }
  article{
    padding: 0;
  }
}
// fuad_experience section end