main {
  width: 80%;
  margin-left: auto;
  border: 3px solid black;
  min-height: 100vh;


  // education start
  .education {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 20px;

    .education_upper_text {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .education_upper_text_pale {
        font-size: 16px;
        font-weight: 100;
        opacity: 0.5;
      }

      .education_upper_text_bold {
        font-size: 24px;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}

.big_box_education {
  width: 70%;
  margin-left: 70px;
  padding-bottom: 70px;
}



.big_box_education {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .box_education {

    .box_education_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .box_education_lower {
      .box_education_content {

        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        opacity: 0.8;
        padding: 20px;
        padding-bottom: 30px;
        border: 1px solid gray;
        min-height: 150px;
      }
    }

    .box_education_head {
      padding: 10px;
      background-color: rgb(236, 234, 234);
      border: 1px solid rgb(160, 159, 159);

      p {
        font-size: 20px;
        padding-right: 10px;
      }

      h3 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.graphic_design_lower {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;

  .graphic_design_content {
    display: flex;
    gap: 20px;
  }
}

.bachelor_degree_lower {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;

  .bachelor_degree_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}


.diploma_technology_lower {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;

  .diploma_technology_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.high_school_lower {
  // display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;

  .high_school_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.open {
  max-height: 300px;
  // display: block;
  // animation: zoom 1s ease-in-out;
}

.color {
  background-color: #2c98f0 !important;
  color: white;

}

@keyframes zoom {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 900px) {

  .big_box_education {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 70px;
  }

  .graphic_design_content {
    display: flex;
    flex-direction: column;
  }

  .box_education_head {
    p {
      font-size: 16px;
      padding-right: 8px;
    }

    h3 {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

// education end